@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/KFOmCnqEu92Fr1Mu72xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/KFOlCnqEu92Fr1MmWUlfCRc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYag.ttf) format('truetype');
}
